.input {
  font-family: "Poppins", sans-serif;
  background-color: white;
  padding: 0.95rem 2rem;
  border-radius: 2rem;
  border: none;
  width: 100%;
  max-width: 230px;
  &:focus {
    outline: none;
  }
  &::placeholder {
    font-family: "Poppins", sans-serif;
  }
}
