@import "../../breakpoints.scss";

.button {
  font-size: 0.85em;
  background-color: white;
  padding: 1em 2em;
  border-radius: 100px;
  cursor: pointer;
  @include breakpoint-down(md) {
    font-size: 0.8em;
  }
  &--border {
    border: solid 1px lightgray;
  }
}
