@import "../../../breakpoints.scss";

.product {
  &__image {
    width: 271px;
    height: 385px;
    object-position: top center;
    object-fit: cover;
    cursor: pointer;
    @include breakpoint-down(md) {
      width: 190px;
      height: 270px;
    }
  }
  &__title {
    font-size: 1em;
    font-weight: 400;
    margin-top: 1rem;
  }
  &__price {
    font-size: 1.25em;
    font-weight: 400;
  }
  &__wrapper {
    position: relative;
    width: fit-content;
  }
  &__button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1rem;
    right: 1rem;
    background: white;
    width: 38px;
    height: 38px;
    border-radius: 100px;
    cursor: pointer;
  }
}
