@import "../../breakpoints.scss";

.navbar {
  position: fixed;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12vw;
  z-index: 100;
  transition: 0.2s background-color, 0.75s height;
  @include breakpoint-down(md) {
    padding: 0 8vw;
  }
  &--scrolled {
    background-color: white;
    @include breakpoint-down(lg) {
      height: 75px;
    }
  }
}
